.App {
  margin: 2.5em;
  width: 75em;
  max-width: 75em;
}

button.copied {
  color: white;
  background-color: var(--chakra-colors-green-400);
}

button.copied:hover {
  color: white;
  background-color: var(--chakra-colors-green-400);
}

textarea {
  min-height: 30em;
}
